body{
  font-family:'DeltaSans' !important;
}
html[lang="cn"] body,
html[lang="cn"] h1,
html[lang="cn"] h2,
html[lang="cn"] h3,
html[lang="cn"] h4,
html[lang="cn"] h5,
html[lang="cn"] a,
html[lang="cn"] button,
html[lang="cn"] span,
html[lang="cn"] p,
html[lang="cn"] .link-nav-first,
html[lang="cn"] label{  
font-family:'Microsoft Yahei','DeltaSans',sans-serif !important;
}



html[lang="tw"] body,
html[lang="tw"] h1,
html[lang="tw"] h2,
html[lang="tw"] h3,
html[lang="tw"] h4,
html[lang="tw"] h5,
html[lang="tw"] a,
html[lang="tw"] button,
html[lang="tw"] div,
html[lang="tw"] span ,
html[lang="tw"] p,
html[lang="tw"] .link-nav-first,
html[lang="tw"] label {  
font-family:'Noto Sans TC','DeltaSans',sans-serif !important ;
}


html[lang="jp"] body,
html[lang="jp"] h1,
html[lang="jp"] h2,
html[lang="jp"] h3,
html[lang="jp"] h4,
html[lang="jp"] h5,
html[lang="jp"] a,
html[lang="jp"] button,
html[lang="jp"] div,
html[lang="jp"] span ,
html[lang="jp"] p ,
html[lang="jp"] .link-nav-first,
html[lang="jp"] label {  
font-family: 'Noto Sans JP','DeltaSans' ,sans-serif !important ;
}

html[lang="ru"] body,
html[lang="ru"] h1,
html[lang="ru"] h2,
html[lang="ru"] h3,
html[lang="ru"] h4,
html[lang="ru"] h5,
html[lang="ru"] a,
html[lang="ru"] button,
html[lang="ru"] div,
html[lang="ru"] span ,
html[lang="ru"] p ,
html[lang="ru"] .link-nav-first,
html[lang="ru"] label {  
font-family: 'Inter','DeltaSans' ,sans-serif !important ;
}
