

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



/* noto-sans-sc-regular - chinese-simplified */
@font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-sc-v26-chinese-simplified-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-sans-sc-v26-chinese-simplified-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-sc-v26-chinese-simplified-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-sc-v26-chinese-simplified-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-sc-v26-chinese-simplified-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-sc-v26-chinese-simplified-regular.svg#NotoSansSC') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-sc-500 - chinese-simplified */
  @font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/noto-sans-sc-v26-chinese-simplified-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-sans-sc-v26-chinese-simplified-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-sc-v26-chinese-simplified-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-sc-v26-chinese-simplified-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-sc-v26-chinese-simplified-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-sc-v26-chinese-simplified-500.svg#NotoSansSC') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-sc-700 - chinese-simplified */
  @font-face {
    font-family: 'Noto Sans SC';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/noto-sans-sc-v26-chinese-simplified-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-sans-sc-v26-chinese-simplified-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-sc-v26-chinese-simplified-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-sc-v26-chinese-simplified-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-sc-v26-chinese-simplified-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-sc-v26-chinese-simplified-700.svg#NotoSansSC') format('svg'); /* Legacy iOS */
  }
/* noto-sans-sc-500 - chinese-simplified */
/* noto-sans-tc-regular - chinese-traditional */
@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-tc-v26-chinese-traditional-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-sans-tc-v26-chinese-traditional-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-tc-v26-chinese-traditional-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-tc-v26-chinese-traditional-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-tc-v26-chinese-traditional-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-tc-v26-chinese-traditional-regular.svg#NotoSansTC') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-tc-500 - chinese-traditional */
  @font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/noto-sans-tc-v26-chinese-traditional-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-sans-tc-v26-chinese-traditional-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-tc-v26-chinese-traditional-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-tc-v26-chinese-traditional-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-tc-v26-chinese-traditional-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-tc-v26-chinese-traditional-500.svg#NotoSansTC') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-tc-700 - chinese-traditional */
  @font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/noto-sans-tc-v26-chinese-traditional-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-sans-tc-v26-chinese-traditional-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-tc-v26-chinese-traditional-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-tc-v26-chinese-traditional-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-tc-v26-chinese-traditional-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-tc-v26-chinese-traditional-700.svg#NotoSansTC') format('svg'); /* Legacy iOS */
  }



@font-face {
    font-family: "DeltaSans";
    src: url("../fonts/DeltaSans-Regular.woff") format('woff'),
    url('../fonts/DeltaSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "DeltaSans";
    src: url("../fonts/DeltaSans-SemiBold.woff") format('woff'),
    url('../fonts/DeltaSans-SemiBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* noto-sans-jp-500 - japanese */
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/noto-sans-jp-v42-japanese-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-sans-jp-v42-japanese-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-jp-v42-japanese-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-jp-v42-japanese-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-jp-v42-japanese-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-jp-v42-japanese-500.svg#NotoSansJP') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-jp-regular - japanese */
  @font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/noto-sans-jp-v42-japanese-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-sans-jp-v42-japanese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-jp-v42-japanese-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-jp-v42-japanese-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-jp-v42-japanese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-jp-v42-japanese-regular.svg#NotoSansJP') format('svg'); /* Legacy iOS */
  }
  /* noto-sans-jp-700 - japanese */
  @font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/noto-sans-jp-v42-japanese-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/noto-sans-jp-v42-japanese-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/noto-sans-jp-v42-japanese-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/noto-sans-jp-v42-japanese-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/noto-sans-jp-v42-japanese-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/noto-sans-jp-v42-japanese-700.svg#NotoSansJP') format('svg'); /* Legacy iOS */
  }
@font-face {
    font-family: 'Microsoft Yahei';
    src: url('../fonts/MicrosoftYaHei-01.woff') format('woff2'),
        url('../fonts/MicrosoftYaHei-01.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Microsoft Yahei';
  src: url('../fonts/MicrosoftYaHei-Bold-01.woff') format('woff2'),
      url('../fonts/MicrosoftYaHei-Bold-01.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
  

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1080">Text with this font applied</p> */
.fontsforweb_fontid_1080 {
	font-family: 'DeltaSans' !important;
}


body{
    font-family:'DeltaSans' !important;
}
html[lang="cn"] body,
html[lang="cn"] h1,
html[lang="cn"] h2,
html[lang="cn"] h3,
html[lang="cn"] h4,
html[lang="cn"] h5,
html[lang="cn"] a,
html[lang="cn"] button,
html[lang="cn"] span,
html[lang="cn"] p,
html[lang="cn"] .link-nav-first,
html[lang="cn"] label{  
  font-family:'Microsoft Yahei','DeltaSans',sans-serif !important;
}



html[lang="tw"] body,
html[lang="tw"] h1,
html[lang="tw"] h2,
html[lang="tw"] h3,
html[lang="tw"] h4,
html[lang="tw"] h5,
html[lang="tw"] a,
html[lang="tw"] button,
html[lang="tw"] div,
html[lang="tw"] span ,
html[lang="tw"] p,
html[lang="tw"] .link-nav-first,
html[lang="tw"] label {  
  font-family:'Noto Sans TC','DeltaSans',sans-serif !important ;
}


html[lang="jp"] body,
html[lang="jp"] h1,
html[lang="jp"] h2,
html[lang="jp"] h3,
html[lang="jp"] h4,
html[lang="jp"] h5,
html[lang="jp"] a,
html[lang="jp"] button,
html[lang="jp"] div,
html[lang="jp"] span ,
html[lang="jp"] p ,
html[lang="jp"] .link-nav-first,
html[lang="jp"] label {  
  font-family: 'Noto Sans JP','DeltaSans' ,sans-serif !important ;
}

html[lang="ru"] body,
html[lang="ru"] h1,
html[lang="ru"] h2,
html[lang="ru"] h3,
html[lang="ru"] h4,
html[lang="ru"] h5,
html[lang="ru"] a,
html[lang="ru"] button,
html[lang="ru"] div,
html[lang="ru"] span ,
html[lang="ru"] p ,
html[lang="ru"] .link-nav-first,
html[lang="ru"] label {  
  font-family: 'Inter','DeltaSans' ,sans-serif !important ;
}



/* Font downloaded from FontsForWeb.com */