@font-face {
	font-family: 'Arial';
	src: url('../fonts/Arial.eot');
	src: url('../fonts/Arial.woff') format('woff'),
    url('../fonts/Arial.ttf') format('truetype');
}

@font-face {
	font-family: 'ArialUnicodeMS';
	src: url('../fonts/ArialUnicodeMS.woff') format('woff'),
    url('../fonts/ArialUnicodeMS.ttf') format('truetype');
}
@font-face {
    font-family: 'Tazugane Gothic StdN';
    src: url('../fonts/TazuganeGothicStdN-Regular.eot');
    src: url('../fonts/TazuganeGothicStdN-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TazuganeGothicStdN-Regular.woff2') format('woff2'),
        url('../fonts/TazuganeGothicStdN-Regular.woff') format('woff'),
        url('../fonts/TazuganeGothicStdN-Regular.ttf') format('truetype'),
        url('../fonts/TazuganeGothicStdN-Regular.svg#TazuganeGothicStdN-Regular') format('svg');
    font-display: swap;
}

@font-face {
    font-family: "DeltaSans";
    src: url("../fonts/DeltaSans-Regular.woff") format('woff'),
    url('../fonts/DeltaSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: "DeltaSans";
    src: url("../fonts/DeltaSans-Light.woff") format('woff'),
    url('../fonts/DeltaSans-Light.woff') format('woff2');
    font-weight:lighter;
}

@font-face {
    font-family: "DeltaSans";
    src: url("../fonts/DeltaSans-SemiBold.woff") format('woff'),
    url('../fonts/DeltaSans-SemiBold.woff2') format('woff2');
    font-weight: bold;
}

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1080">Text with this font applied</p> */
.fontsforweb_fontid_1080 {
	font-family: 'DeltaSans' !important;
}




/* Font downloaded from FontsForWeb.com */