
@font-face {
    font-family: "DeltaSans";
    src: url("../fonts/DeltaSans-Regular.woff") format('woff'),
    url('../fonts/DeltaSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: "DeltaSans";
    src: url("../fonts/DeltaSans-SemiBold.woff") format('woff'),
    url('../fonts/DeltaSans-SemiBold.woff2') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: "NotosansTw";
    src: url("../fonts/notosanstc-regular-webfont.woff") format('woff'),
    url('../fonts/notosanstc-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: "NotosansTw";
    src: url("../fonts/notosanstc-light-webfont.woff2") format('woff'),
    url('../fonts/notosanstc-light-webfont.woff2') format('woff2');
    font-weight:lighter;
}

@font-face {
    font-family: "NotosansTw";
    src: url("../fonts/notosanstc-bold-webfont.woff") format('woff'),
    url('../fonts/notosanstc-bold-webfont.woff') format('woff2');
    font-weight: bold;
}

@font-face {
    font-family: "NotosansCN";
    src: url("../fonts/notosanssc-regular-webfont.woff") format('woff'),
    url('../fonts/notosanssc-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: "NotosansCN";
    src: url("../fonts/notosanssc-light-webfont.woff") format('woff'),
    url('../fonts/notosanssc-light-webfont.woff2') format('woff2');
    font-weight:lighter;
}

@font-face {
    font-family: "NotosansCN";
    src: url("../fonts/notosanssc-bold-webfont.woff") format('woff'),
    url('../fonts/notosanssc-bold-webfont.woff2') format('woff2');
    font-weight: bold;
}


@font-face {
    font-family: "NotosansJP";
    src: url("../fonts/notosansjp-regular-webfont.woff") format('woff'),
    url('../fonts/notosansjp-regular-webfont.woff2') format('woff2');
}

@font-face {
    font-family: "NotosansJP";
    src: url("../fonts/notosansjp-light-webfont.woff") format('woff'),
    url('../fonts/notosansjp-light-webfont.woff2') format('woff2');
    font-weight:lighter;
}

@font-face {
    font-family: "NotosansJP";
    src: url("../fonts/notosansjp-bold-webfont.woff") format('woff'),
    url('../fonts/notosansjp-bold-webfont.woff2') format('woff2');
    font-weight: bold;
}

/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1080">Text with this font applied</p> */
.fontsforweb_fontid_1080 {
	font-family: 'DeltaSans' !important;
}




/* Font downloaded from FontsForWeb.com */