


@font-face {
    font-family: 'Noto Sans TC';
    src: url('../fonts/NotoSansTC-Regular-Alphabetic.eot');
    src: url('../fonts/NotoSansTC-Regular-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSansTC-Regular-Alphabetic.woff2') format('woff2'),
        url('../fonts/NotoSansTC-Regular-Alphabetic.woff') format('woff'),
        url('../fonts/NotoSansTC-Regular-Alphabetic.ttf') format('truetype'),
        url('../fonts/NotoSansTC-Regular-Alphabetic.svg#NotoSansTC-Regular-Alphabetic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans TC';
    src: url('../fonts/NotoSansTC-Bold-Alphabetic.eot');
    src: url('../fonts/NotoSansTC-Bold-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/NotoSansTC-Bold-Alphabetic.woff2') format('woff2'),
        url('../fonts/NotoSansTC-Bold-Alphabetic.woff') format('woff'),
        url('../fonts/NotoSansTC-Bold-Alphabetic.ttf') format('truetype'),
        url('../fonts/NotoSansTC-Bold-Alphabetic.svg#NotoSansTC-Bold-Alphabetic') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fontNews/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Noto Sans SC";
    src: url("../fonts/notosanssc-regular-webfont.woff") format('woff'),
    url('../fonts/notosanssc-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: "Noto Sans SC";
    src: url("../fonts/notosanssc-bold-webfont.woff") format('woff'),
    url('../fonts/notosanssc-bold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: "DeltaSans";
    src: url("../fonts/DeltaSans-Regular.woff") format('woff'),
    url('../fonts/DeltaSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "DeltaSans";
    src: url("../fonts/DeltaSans-SemiBold.woff") format('woff'),
    url('../fonts/DeltaSans-SemiBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}




/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_1080">Text with this font applied</p> */
.fontsforweb_fontid_1080 {
	font-family: 'DeltaSans' !important;
}


body{
    font-family:'DeltaSans' !important;
}
html[lang="cn"] body,
html[lang="cn"] h1,
html[lang="cn"] h2,
html[lang="cn"] h3,
html[lang="cn"] h4,
html[lang="cn"] h5,
html[lang="cn"] a,
html[lang="cn"] button,
html[lang="cn"] span,
html[lang="cn"] p,
html[lang="cn"] .link-nav-first,
html[lang="cn"] label{  
  font-family:'Noto Sans SC','DeltaSans',sans-serif !important;
}



html[lang="tw"] body,
html[lang="tw"] h1,
html[lang="tw"] h2,
html[lang="tw"] h3,
html[lang="tw"] h4,
html[lang="tw"] h5,
html[lang="tw"] a,
html[lang="tw"] button,
html[lang="tw"] div,
html[lang="tw"] span ,
html[lang="tw"] p,
html[lang="tw"] .link-nav-first,
html[lang="tw"] label {  
  font-family:'Noto Sans TC','DeltaSans',sans-serif !important ;
}


html[lang="jp"] body,
html[lang="jp"] h1,
html[lang="jp"] h2,
html[lang="jp"] h3,
html[lang="jp"] h4,
html[lang="jp"] h5,
html[lang="jp"] a,
html[lang="jp"] button,
html[lang="jp"] div,
html[lang="jp"] span ,
html[lang="jp"] p ,
html[lang="jp"] .link-nav-first,
html[lang="jp"] label {  
  font-family: 'NotosansJP','DeltaSans' ,sans-serif !important ;
}

html[lang="ru"] body,
html[lang="ru"] h1,
html[lang="ru"] h2,
html[lang="ru"] h3,
html[lang="ru"] h4,
html[lang="ru"] h5,
html[lang="ru"] a,
html[lang="ru"] button,
html[lang="ru"] div,
html[lang="ru"] span ,
html[lang="ru"] p ,
html[lang="ru"] .link-nav-first,
html[lang="ru"] label {  
  font-family: 'Inter','DeltaSans' ,sans-serif !important ;
}




/* Font downloaded from FontsForWeb.com */