.box-result-search .nav-tabs {
    display: flex;
    justify-content: space-between;
}

.box-result-search .nav-tabs .nav-link {
    margin: 0;
}

.box-result-search .nav-tabs .nav-item.show .nav-link,
.box-result-search .nav-tabs .nav-link.active {
    color: #0087DC;
}

.box-result-search .nav-tabs a {
    color: #444444;
}

#select-search-results {
    display: none;
}

#bar-search-results-page-nav {
    display: block;
}

@media (max-width:992px) {
    #select-search-results {
        display: block;
    }

    #bar-search-results-page-nav {
        display: none;
    }
}
/* sale office */
.sales-offices-type .sales-offices-list:after, .find-distributor-type .find-distributor-list:after ,.product-docment-list:after{
    font-family: 'Material-Design-Iconic-Font';
    content: "\f273";
    float: right;
    font-size: 24px;
    color: #444444;
    }

    .sales-offices-type .sales-offices-list.collapsed:after ,.find-distributor-type .find-distributor-list.collapsed:after,.product-docment-list.collapsed:after{
        /* symbol for "collapsed" panels */
        content: "\f278";
    }

    .sales-offices-list ,.find-distributor-list,.product-docment-list{
        
        line-height: 30px;
        font-family: 'ArialUnicodeMS';
        font-weight: bolder;
        padding: 1rem 5px;
        margin-bottom: -2px;
        display: flex;
        justify-content: space-between
        
    }
    
    .sales-offices-list-sub,.find-distributor-list-sub {
        padding: 12px;
    }
    .product-docment-list-sub{
        padding-bottom: 2rem;
    }
    .force-overflow {
    min-height: 200px;
    }
    .sales-offices-address, .find-distributor-address{
        border-bottom: 2px solid #E3EFF8;
        padding: 24px 0;
        word-break: break-all;
    }
    .sales-offices-address:first-child,.find-distributor-address:first-child{
        padding-top: 0;
    }
    .sales-offices-address:last-child,.find-distributor-address:last-child, .data-sheet-downloade:last-child{
        border-bottom: unset;
    }
    .sales-offices-list.collapsed , .find-distributor-list.collapsed ,.product-docment-list.collapsed{
        color: #444444 ;
    }
    .text-colour-delta{
        color: #0087DC;
    }
    /* select */
    .select-minimize {
        width: 250px;
        color: #0087DC;
        font-size: 16px;
        font-weight: bold;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-radius: 0;
        border: 1px solid transparent;
        background-position: right 50%;
        background-repeat: no-repeat;
        background-size: 20px;
        background: transparent  url('../image/select-down-mobile.svg') no-repeat right 50%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
    }

    .select-minimize:disabled,
    .select-minimize[readonly] {
        background-color: #F2F2F2;
        border: 1px solid transparent !important;
        opacity: 1;
        color: #0087DC;
        background-image: unset;
    }

    .select-minimize:focus {
        color: #0087DC;
        background-color: transparent;
        border-color: transparent;
        outline: unset;
        box-shadow: unset;
    }