

.card-btn-a{
    position: relative;
    height: 274px;
    padding: 0rem 1rem 1rem 1rem;
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
}
.link-d-sheet{
    color: #000;
}

.btn-datasheet {
    min-width: 120px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid transparent;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}
.btn-datasheet{
    background-color: rgb(120, 120, 120);
}
.card-btn-a-detail{
    position: relative;
}

.text-name-data{
    display: flex;
    font-size: 14px;
    justify-content: center;
}
.icon-datasheet{
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
}
.icon-datasheet i{
    color:rgb(0, 135, 220);;
    font-size: 26px;

}
select::-ms-expand {
    display: none;
}
input.form-control{
    background: none;
}
input[type=text], input[type=email]{
    height: calc(2.25rem + 2px);
}
.products-index-banner,
.banner-type-product-all-tablet-down {

    /*  background-image: url('../image/10386@2x.png'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-type-product-all-tablet-down {
    height: 365px;
}
.hover-app-con:hover .show-onhover{
  display: block;
}
.hover-app-con:hover .btn-icon-app{
    display: none;
  }

.products-index-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 94px;
    z-index: 2;
}
.h-rvolt{
    height: 73px;
}

.text-breadcrumb-home a,
.text-breadcrumb-ative a {
    color: #000;
    font-size: 12px;
}

.text-breadcrumb-home a {
    font-weight: bold;
    text-decoration: none;
}

.text-breadcrumb a {
    color: #000;
    font-size: 12px;
    text-decoration: none;
}

.banner-type-product {
    background-position: center;
    background-size: cover;
    height: 332px;
}

.banner-type-product-all {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.banner-type-product-all-new {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}
#slide-banner-products {
    /* height: 500px; */
}

#slide-banner-products .owl-dots {
    position: absolute !important;
    bottom: 5%;
    left: 0;
    right: 0;
}
#slide-banner-products-mobile .owl-dots {
    position: absolute !important;
    bottom: 5%;
    left: 0;
    right: 0;
}
#slide-banner-products-mobile .slide-content {
    margin-top: 128px;
    height:500px;
    text-align: center;
}
.banner-products-pic {

}
.bordr-name-se{
    border-bottom: 1px solid #0087DC ;
    padding-bottom:5px;
}
.middle-img{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.h-title{
    height: 70px;
    overflow: hidden;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
}
.h-title a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.banner-products-pic img {
    max-height: 310px;
    margin: auto;
    max-width: 100%;
    width: initial !important;
    padding: 5px 0px;

}
.banner-products-pic-new img {
    margin: auto;
    max-width: 50%;
    margin-top: 30px;

}
.img-product{
    width: auto !important;
    max-width: 100%;
    max-height: 300px;
}
.text-fourteen-delta{
    color: #0087DC;
    font-size: 14px;
    font-weight: bold;
}
.text-title {
    font-family: 'DeltaSans';
    color: #0087DC;
    font-size: 32px;
    line-height: 47px;
    font-weight: bold;
}
/* .bar-product-type {

    background-color: #F0F5FA;
    height: 260px;
}
.bar-product-type-list-item{
    width: 150px;
} */
.text-detail {
    font-size: 16px;
}
.nav-allproduct{
    top:64px;
    left: 0;
    right: 0;
    height: 45px;
    z-index: 3;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    height: 64px;
}

.nav-allproduct-list{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top:128px;
    z-index: 2;
    background-color: #ffffff;
    text-align: center;
    overflow: auto;
}
.nav-allproduct-list-desk {
    top: 100%;
    left: 0;
    right: 0;
    position: absolute;
    text-align: start;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: #ffffff;
    box-shadow: 0px 3px 22px -16px rgba(68, 68, 68, 0.94);
}
.nav-desktop-allproduct{
    position: fixed;
    top:94px;
    left: 0;
    right: 0;
    z-index: 1029;
}
.nav-allproduct-desk{
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    height: 64px;
}
.tab-content>.active {
    /* margin: 3rem 0; */
    justify-content: center;
}

.box-allproduct-content .bar-product-type .tab-content>.active {
    margin-top: 1rem;
    justify-content: center;
    display: flex;
    height: auto;
    flex-wrap: wrap;
}
.bar-product-type-list-item{
    padding-top: 2rem;
}
.nav-tabs .nav-link {
    margin: 0 32px;
    border-bottom: 3px solid transparent;
}

#bar-product-type-nav .nav {
    justify-content: center;
}

#bar-product-type-nav .nav-link {
    font-size: 16px;
    padding: 0 0px 16px 0px;
    color: #000;
}

#bar-product-type-nav .nav-link.active {
    color: #0087DC;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
    background-color: transparent;
    border-bottom: 3px solid;
    border-color: transparent transparent #0087DC transparent;
}

.deltaItem .carousel__item-thumb {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    margin-bottom: 10px;
    height: 80px;
}

.deltaItem:hover .carousel__item-thumb {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
}

.carousel__item-thumb img {
    max-height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.shadow {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    margin-top: -5em;
    transform: scale(0.8);
}

.deltaItem:hover .shadow {
    -webkit-transform: scale(0.8);
    transform: scale(0.6);
}

.carousel__item-name {
    text-align: center;
    padding: 10px;
    position: relative;
    top: 5px;
    color: #000000;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
}


.h1-font-color {
    color: #FFFFFF;
}

.box-banner-pro-type {
    height: 332px;
}

.box-banner-pro-type-all {
    height: 317px;
}
.box-banner-pro-type-all-new {
    height: 400px;
}
.link-see-product {
    font-size: 16px;
    line-height: 24px;
    font-family: 'DeltaSans';
    cursor: pointer;
    font-weight: bold;
    color: #0087DC;
}

.link-see-product i {
    padding-left: 5px;
    font-weight: bold;
}

.bg-background-all-pro {
    background-color: #F5F5F5;
}

.padding-text-all-pro {
    padding: 40px 0px;
}

.img-pro-all {
    height: 138px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.img-pro-all-config {
    height: 138px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.card-pro-all {
    padding: 24px 24px;
    height: 440px;
    background-color: #ffffff;
    margin-bottom: 12px;
}

.text-bold {
    font-weight: 600 !important;
}

.padding-img-pro-all {
    width: 214px;
    height: 214px;
    margin: 0 auto;
    background-color: #F8F8F8;
}

.text-all-pro-type {
    font-size: 24px;
    line-height: 28px;
    font-family: 'DeltaSans';
    padding: 47px 35px 8px 35px;
    text-align: center;
}

.text-all-pro-type-detail {
    font-size: 16px;
    line-height: 24px;
    font-family: 'DeltaSans';
    text-align: center
}

.btn-text-all-pro {
    border: none;
    background-color: transparent;
    color: #ffffff;
    padding: .375rem 0px;
    font-weight: bold;
    font-size: 16px;
    text-align: center
}

.h-box-pd-all-con {
    height: 100%;
}

.nav-menu-filler {
    margin-top: 20px;
    padding: 10px 0px;
}

input:checked+label {
    color: #0087DC;
}

.btn-reset {
    position: absolute;
    right: 24px;
    border: unset;
    background: unset;
    text-decoration: underline;
    font-size: 12px;
    font-weight: bold;
}

.grid-icon {
    font-size: 16px;
    line-height: 24px;
    font-family: 'DeltaSans';
    cursor: pointer;
    color: #000;
    margin: 0px 5px;
}

.grid-icon img {
    /* margin: 6px 0; */
    background-color: transparent;
    border: 6px solid transparent;
}

.bord-icon {
    margin: 0 !important;
    background-color: #0087DC !important;
    border: 6px solid #0087DC !important;
    border-radius: 5px;
}

.col-right {
    display: flex;
    justify-content: flex-end;
}

.icon-size-grid {
    font-size: 18px !important;
}

.border-ver {
    width: 1px;
    height: 24px;
    background-color: #818181;
    margin: 0 15px;
}

.icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
}
.icon-check{
    font-size: 24px;
    color: #76B900;
}
.btn-icon-app {
    background-image: var(--icon-app-var);
}

.btn-icon-app:hover,
.btn-icon-app:focus {
    background-image: var(--icon-appb-var);
}
.text-lable {
    margin: 4px 9px 0px 24px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.margin-top-card {
    margin-top: 10px;
}

.bg-menu-filler {
    background-color: #dcdcdc;
    padding: 12px 0px 12px 0px;
    color: #000;
}

.bg-menu-filler a {
    color: #000;
}

.bg-menu-filler img {
    filter: brightness(0);
}

.bg-menu-filler img.bord-icon {
    filter: none !important;
}

.menu-filler-mobile {
    height: 150px;
}

.menu-filler-mobile-search {
    height: 90px;
    padding-left: 15px;
    padding-right: 15px;
}

.menu-filler-mobile-filter {
    height: 60px;
    background-color: #dcdcdc;
    padding-left: 15px;
    padding-right: 15px;
}

.margin-p-left-card {
    margin: 12px 0px;
    width: 100%;
}

.visible-mobile-only .margin-p-left-card .item {
    box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.09);
    border-radius: 0;
}

.search-box-product-mobile {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    border: 1px solid #444444;
}

.search-btn-product-mobile {
    width: 38% !important;
    height: 40px !important;
}

#filterMobileClose {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1030;
    top: 64px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.filter-mobilenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1031;
    top: 64px;
    left: 0;
    overflow-x: hidden;
}

.filter-mobile-list {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1032;
    top: 64px;
    left: 0;
    overflow-x: hidden;
    transition: 0.3s;
    background-color: #ffffff;
}

.text-over {
    font-size: 12px;
    line-height: 14px;
    font-family: 'DeltaSans';
    display: block;
    background-color: #0087DC;
    color: #000;
    width: 50px;
    position: absolute;
    text-align: center;
    top: 10px;
    left: 10px;
    padding: 2px 0;
    font-weight: 600;
}

.font-card {
    font-family: 'DeltaSans';
    font-size: 18px;
    line-height: 24px;
}

.blod-font {
    font-weight: 600 !important;
}

.img-icon-detail img {
    width: 50px;
}

.text-card-detial {
    font-size: 14px;
    line-height: 24px;
    font-family: 'DeltaSans';
}

a.filter-mobile-link {
    color: #000;
    font-size: 14px;
    font-weight: bold;
}

a.filter-mobile-link:hover {
    text-decoration: none;
}

.view-pro-detial {
    font-size: 14px;
    line-height: 16px;
    font-family: 'DeltaSans';
    font-weight: 600;
    color: #000;
    cursor: pointer;
}

.marign-top-padding {
    padding-top: 12px;
}

.btn-compare {
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    border-radius: 0px;
    background-color: #454545;
    color: #fff;
}

.header-font-table {
    font-size: 12px !important;
    line-height: 24px !important;
    font-family: 'DeltaSans';
    font-weight: bold;
    color: #000;
}

#dtBasicExample_length {
    display: none;
}

#dtBasicExample_filter {
    display: none;
}

#dtBasicExample_info {
    display: none;
}

#dtBasicExample_paginate {
    display: none;
}

.headder-bg-table {
    background-color: #dcdcdc;
}

.headder-bg-table th {
    padding: 3px 10px;
}

.cardlist-toadd {
    position: relative;
    height: 270px;
    padding: 1rem 0rem 0rem 1rem;
}

.cardlist-view {
    /* position: relative; */
    width: 170px;
    height: 170px;
    /*     display: flex;
    justify-content: center; */
}

.btn-listview {
    margin-top: 12px;
}

.cardlist-text {
    margin: 0;
}

.cardlist-btn {
    margin: 20px 0;
}

.img-card-list {
    width: 100%;
}

.box-cardlist {
    border: 2px solid #E3EFF8;
}

.text-middle-td {
    vertical-align: middle !important;
    text-align: center;
}

.text-over-cardlist {
    position: absolute;
    top: 20px;
    right: 20px;
    line-height: 1.5;
    padding: 0 5px;
    text-align: center;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: #76B900;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    z-index: 99;
}

.count-products {
    font-size: 16px;
    line-height: 16px;
    font-family: 'DeltaSans';
    padding: 26px 0 0 0;
    text-align: left;
}


/* .search-filter {
    border: 2px solid #E3EFF8;
    display: flex;
    padding: 26px 0;
} */
e.search-filter-action {
    /* margin: auto; */
}

.search-filter-action-btn {
    margin: 12px 0;
}

.text-sixteen-dark {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.box-search-filter {
    display: flex;
    flex-wrap: wrap;
    height: 40px;
    width: 100%;
    border: 1px solid #444444;
}

.searchinput-filters {
    position: relative;
    /* width: 100%; */
    max-width: 500px;
    margin-bottom: 0;
}

.searchinput-filters input {
    -webkit-appearance: none;
    width: 120%;
    border: 0;
    font-family: inherit;
    padding: 5px 0;
    height: 40px;
    font-size: 12px;
    font-weight: 500;
    background: none;
    border-radius: 0;
    font-style: italic;
    color: #DDDDDD;
    transition: all 0.15s ease;
}

.searchinput-filters input:focus {
    background: none;
    outline: none;
    color: #000000;
    font-style: normal;
}

.box-search-filters-icon {
    padding: 7px;
}

.tap-filter {
    border: none;
}

.card-header-filter {
    font-size: 18px;
    line-height: 30px;
    font-family: 'DeltaSans';
    font-weight: bolder;
    padding: .75rem 5px;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.card-body-filter {
    padding: 12px;
}

.font-icon-filer {
    font-size: 28px;
    color: #8B8B8B;
}

.box-input-checkbox {
    padding: 5px 0px;
}

.card-body-filter.s.cardlist-toaddhow {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

.cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;

}
.modal-body .cbx{
    margin-bottom: 0.2rem !important;
}
#btn-addremove-filer-model{
    padding-right: 0px !important;
}
.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
    background-color: #FFFFFF;
}

.cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #0087DC;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
}

.cbx span:last-child {
    padding-left: 8px;
    font-size: 14px;
}

.cbx:hover span:first-child {
    border-color: #0087DC;
}

.inp-cbx:checked+.cbx span:first-child {
    background: #0087DC;
    border-color: #0087DC;
    animation: wave 0.4s ease;
}

.inp-cbx:checked+.cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.inp-cbx:checked+.cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
}

@keyframes wave {
    50% {
        transform: scale(0.9);
    }
}

.scrollbar {
    height: 200px;
    overflow-y: scroll;
}

.force-overflow {
    min-height: 200px;
}

#wrapper {
    text-align: center;
    width: 500px;
    margin: auto;
}


/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

.box-btn-filters {
    margin: 24px 0;
}

.btn-filters {
    cursor: pointer;
}

.btn-search {
    background-color: #0087DC;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    width: 160px;
    height: 32px;
}

.btn-box-clear-filer {
    text-align: center;
}

.btn-use-filer {
    background-color: #0087DC;
    border: 2px solid transparent;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    width: 160px;
    height: 32px;
}

.btn-addremove-filer {
    background-color: transparent;
    border: 2px solid #444444;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    width: 160px;
    height: 32px;
}

.btn-clear-filer {
    background-color: transparent;
    /* border: 2px solid #444444; */
    border: none;
    text-decoration: underline;
    font-size: 12px;
    font-weight: bold;
    width: 160px;
    height: 32px;
}



.bg-bredcrumb {
    /* background-color: ; */
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    height: 64px;

}

.breadcrumb {
    background: transparent;
}


/* product-type-boxitem */

.product-type-boxitem {
    margin-bottom: 2%;
}

.product-type-boxitem-sub {
    margin-bottom: 64px;
}


.product-type-boxitem-sub-banner {
    background-size: cover;
    background-repeat: no-repeat;

}
.visible-up-922 .product-type-boxitem-sub-banner{
    margin: 24px 0;
}
.invisible-up-922 .product-type-boxitem-sub-banner{
    padding: 3rem;
    margin: 3rem 0;
    text-align: center;
}
 .product-type-boxitem-sub-banner-pic {
    display: flex;
}

.product-type-boxitem-sub-banner-pic img {
    margin: auto;

}

.product-type-boxitem-sub-banner-text a img {
    vertical-align: text-top;
}

.product-type-boxitem-sub-banner-text a {
    text-decoration: none;
}

.text-link{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
.product-type-boxitem-sub-list {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-type-boxitem-sub-list-item {
    border: 1px solid #E3EFF8;
    padding: 24px;
    height: 370px;
}

.product-type-boxitem-sub-list-item-icon {
    /* line-height: 2.5; */
    letter-spacing: 1.5;
}

.text-title-item-dark {
    color: #454545;
    font-weight: bold;
    font-size: 24px;
}

.product-type-boxitem-sub-list-item-icon a {
    cursor: pointer;
}

.tooltip {
    top: 15%;
}

.tooltip .arrow {
    background-color: transparent;
}

.bs-tooltip-top {
    margin-bottom: 0px;
}


/* product list */

#products-index-banner-type .bg-bredcrumb {
    background: #ffffff;
}

#slide-banner-products-type .owl-dots {
    position: absolute !important;
    bottom: 12px;
    left: 0;
    right: 0;
}

#slide-banner-products-type .owl-item img {
    width:0px;
    display: inline;
    vertical-align: text-top;
}

#slide-banner-products-type .banner-products-pic img {
}

#text-hover {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product-type-boxitem-sub-list-item:hover {
    position: relative;
    /* padding-top: 0px; */
}

.product-type-boxitem-sub-list-item:hover .text-hoverthis {
    position: relative;
    overflow: auto;
    height: 72px;
    padding-top: 0px;
}

.product-type-boxitem-sub-list-item:hover .product-type-boxitem-sub-list-item-text h3{
    color: #0087DC !important;
}

.product-type-boxitem-sub-list-item:hover #text-hover {
    white-space: normal;
    -webkit-line-clamp: unset;
    position: absolute;
    background-color: #FFF;
    padding-right: 24px;
    line-height: 1.3;
}
.product-type-boxitem-sub-list-item-text{
    height: 72px;
}
.product-type-boxitem-sub-list-item:hover .product-type-boxitem-sub-list-item-pic img {
    width: 40%;
}
.product-type-boxitem-sub-list-item-pic{
    height: 50%;
}
.product-type-boxitem-sub-list-item{
    position: relative;
}
.product-type-boxitem-sub-list-item-icon {
    position: absolute;
    bottom: 24px;
    right: 0;
    left: 0;
}

#text-hover:hover+p {
    /* margin-top:20px; */
}

.box-cx-type {
    display: flex;
}

.modal-custom-filter {
    margin: 0 12px;
}

.title-cx {
    color: #0087DC;
    font-weight: bold;
    margin-top: 24px;
}

.img-res-prolis{
    max-width: 100%;
}
/* slidebar */

.slider .noUi-connect {
    background-color: #0087dc;
}

.slider .noUi-handle {
    height: 14px !important;
    width: 17px !important;
    top: -3px !important;
}

.noUi-handle:before,
.noUi-handle:after {
    height: 7px !important;
    width: 1px !important;
    left: 7px !important;
    top: 3px !important;
}

.noUi-horizontal {
    margin-right: 15px;
    height: 8px !important;
}

.value-form-bar-box {
    position: relative;
}

.slidebar-value-box {
    top: 12px;
    position: relative;
}

.has-nouislider.show {
    padding-bottom: 40px !important;
}

.value-form-bar {
    position: absolute;
}

.value-form-bar-min {
    left: 5px;
}

.value-form-bar-max {
    right: 5px;
}

.text-title-white {
    color: #FFFFFF;
    font-weight: bold;
}

/* grid card */
.GridView.visible-mobile-only #cardGridList{
    margin-left: -12px;
    margin-right: -12px;
}
.column-grid-card-mobile{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 6px;
    padding-left: 6px;
}
/* FAQs */
.faqs-type .faqs-list:after {
    font-family: 'Material-Design-Iconic-Font';
    content: "\f273";
    float: right;
    font-size: 24px;
    color: #000;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
    }

    .faqs-type .faqs-list.collapsed:after {
        /* symbol for "collapsed" panels */
        content: "\f278";
    }

    .faqs-list {
        font-family: 'DeltaSans';
        font-weight: bolder;
        padding: 2rem 5px;
        margin-bottom: -2px;
        position: relative;

    }
    .p-l-18{
        padding-right: 25px;
    }

    .faqs-list-sub {
        padding: 12px;
    }
    .force-overflow {
        min-height: 50px;
    }
    .faqs-address{
        border-bottom: 2px solid #E3EFF8;
        padding: 24px 0;
    }
    .faqs-address:first-child{
        padding-top: 0;
    }
    .faqs-address:last-child{
        border-bottom: unset;
    }
    .faqs-list.collapsed {
        color: #000 ;
    }
    .faqs-list.collapsed > p{
        color: #000 ;
    }
    .success-storie-btn{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        height: fit-content;
        padding: 1rem;
        background: #ffffff;
        z-index: 1;
        box-shadow: 0px 0px 22px -16px rgba(68, 68, 68, 0.94);
    }
    .table thead th {
        border-bottom:unset;
    }
/* Common general style go here */


/* Mobile in Portrait mode */
@media only screen and (min-width:0px) and (max-width:375px) {
    .searchinput-filters {
        max-width: 500px;
        margin-bottom: 0;
        padding-left: 33px;
        overflow: hidden;
        margin-top: -39px;
    }
    .text-sixteen-dark {
        font-size: 14px;
    }
    .product-type-boxitem-sub-banner-text {
        padding: 35px;
    }
    .img-res-prolis{
        max-width: 100%;
    }
    .banner-type-product-all-tablet-down {
        height: 316px;
    }
    #slide-banner-products-mobile .slide-content {
        height: 395px;

    }

}
@media only screen and(max-width:320px) {
    .product-type-boxitem-sub-banner-text {
        padding: 35px;
    }
    .nav-allproduct-list {
        top: 82px;
    }


}


/* Mobile in Landscape mode */

@media only screen and (min-width:321px) and (max-width:480px) {
    .text-sixteen-dark {
        font-size: 14px;
    }
    .product-type-boxitem-sub-banner-text {
        padding: 35px;
    }
    .nav-allproduct-list {
        top: 82px;
    }
}
@media only screen and (min-width:481px) and (max-width:767px) {

}
/* Tabets */

@media only screen and (min-width:768px) and (max-width:1024px) {
    .product-type-boxitem-sub-banner-text {
        padding: 35px;
    }
    .banner-products-pic img {
        max-width: 80%;
    }


}

@media only screen and (min-width:768px) and (max-width:1200px) {
    .banner-type-product-all-tablet-down {
        height: 448px;
    }
    .box-banner-pro-type-all {
        height: 392px;
    }
    .banner-type-product-all {
        height: 392px;
    }
}
/* destop small  */

@media only screen and (min-width:1025px) and (max-width:1223px) {
    .product-type-boxitem-sub-banner-text {
        padding: 35px;
    }
}


/* destop genneral  */

@media only screen and (min-width:1224px) {
    .product-type-boxitem-sub-banner-text {
        padding: 35px 26px 35px 80px;
    }

}


/* Very large screen devices  */

@media only screen and (min-width:1824px) {
    .product-type-boxitem-sub-banner-text {
        padding: 35px 26px 35px 80px;
    }

}

@media only screen and (max-width:1223px) {
    .product-type-boxitem-sub-list {
        grid-gap: 24px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width:1024px) {
    .product-type-boxitem-sub-list {
        grid-gap: 24px;
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width:993px) and (max-width:1199px) {
.nav-desktop-allproduct {
    top: 64px;
}

}
@media only screen and (min-width:0px) and (max-width:992px) {
    .banner-products-pic {
        margin-bottom: 8rem;
    }
}

@media only screen and (max-width:768px) {
    .faqs-type,.find-distributor-type,.sales-offices-type{
        margin-right: 0;
        margin-left: 0;
    }
    .box-for-collap,.add-space-mobile{
        padding-right: 0;
        padding-left: 0;
    }
    .add-space-mobile
    .product-type-boxitem-sub-list {
        grid-gap: 24px;
        grid-template-columns: 1fr 1fr;
    }
    .img-product{
        width: initial !important;
        max-width: 100%;
        max-height: 233px;
    }
    .col-card-product{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 6px;
        padding-left: 6px;

    }
    #sidebar{
        display: none;
    }
}
@media (max-width:1024px){
    .product-type-boxitem-sub-list-item{
        height: 420px;
    }
    .product-type-boxitem-sub-list-item img{
        width: 35%;
     }
     .product-type-boxitem-sub-list-item:hover .product-type-boxitem-sub-list-item-pic img{
         width: 30%;
     }
}
@media only screen and (max-width:576px){
    .product-type-boxitem-sub-list {
        grid-gap: 24px;
        grid-template-columns: 1fr;
    }
    .product-type-boxitem-sub-list-item{
        height: 450px;
    }
    .product-type-boxitem-sub-list-item img{
        width: 40%;
     }
     .product-type-boxitem-sub-list-item:hover .product-type-boxitem-sub-list-item-pic img{
         width: 30%;
     }

}
@media only screen and (max-width:400px){
    .col-card-product{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 6px;
        padding-left: 6px;
    }
}
.visible-up-922{
    display: block;
}
.invisible-up-922{
    display: none;
}
.visible-up-320{
    display: block;
}
.invisible-up-320{
    display: none;
}
@media (max-width:992px){
    .visible-up-922{
        display: none !important;
    }
    .invisible-up-922{
        display: block;
    }
    .banner-type-product-all{
        height: auto;
    }
    .delete-padding-column-mobile{
        padding: 0;
    }
}
@media (max-width:768px){
    .zero-padding-column-mobile{
        padding: 0;
    }
}
@media (max-width:320px){
    .visible-up-320{
        display: none !important;
    }
    .invisible-up-320{
        display: block;
    }
    .column-grid-card-mobile{
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 6px;
        padding-left: 6px;
    }
}
.series-grid{
    /* display: grid;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    display: flex;
    flex-wrap: wrap;
}
.series-list{
    border: 2px solid #E3EFF8;
    height: 362px;
    position: relative;
    flex: 0 0 0 23%;
    width: 23%;
    margin:12px;

}
.series-list:hover .series-img{
    display: none;
    visibility: hidden;
}
.series-list-home{
    border: 1px solid #e4e4e4;
    height: 362px;
    position: relative;
    margin:12px;
    background-color: #ffffff;

}
.series-list-home h3{
    font-size: 18px;
}
.series-list-home:hover .series-img{
    display: none;
    visibility: hidden;
}
.max-h{
    max-height: 200px;
}
.series-text-detail{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: none;
    visibility: hidden;
    padding: 10px;
    height: 182px;
    overflow: hidden;
    transition: all 5s;
    text-align: left;

}
.series-icon{
    position: relative;
    margin-top: 1rem;
    height: 72px;
}
.series-img {
    height: 180px;
    transition: all 9s;
    padding-top: 15px;
}
.card a{
  text-decoration: none;
}

.series-list:hover .series-text-detail{
    visibility: visible;
    display: block;
   opacity: 1;
}

.series-list:hover .text-dark{
   text-decoration: none !important;
   color: #0087DC !important;
}
.series-list-home:hover .series-text-detail{
    visibility: visible;
    display: block;
   opacity: 1;
}
.series-list-home:hover .text-dark{
    text-decoration: none !important;
    color: #0087DC !important;
 }
.text-more_detail{
    color:#000;
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 1200px){
    .series-grid{
        grid-template-columns: 1fr 1fr 1fr;

    }
    .series-list{
        flex: 0 0 0 30%;
        width: 30%;
        margin:12px;
    }
}
@media (max-width: 992px){
    .series-grid{
        grid-template-columns:1fr 1fr;

    }
    .series-list{
        flex: 0 0 0 45%;
        width: 45%;
        margin:12px;
    }
}
@media (max-width: 560px){

    .series-img{
        width: 90% !important;
    }

    .series-grid{

        grid-template-columns:1fr;

    }
    .series-list{
        flex: 0 0 0 100%;
        width: 100%;
        margin:12px 0px;
    }
}

.padd-left-rbox {
    padding-left: 30px;
    padding-right: 30px;
}

.shadow-radius-box{
    border-radius: 6px;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.1), -2px 2px 7px 2px rgba(0, 0, 0, 0.1), 4px 4px 7px 2px rgba(0, 0, 0, 0.1);
}

.visible-mobile-only .margin-p-left-card .shadow-radius-box{
    border-radius: 6px;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.1), -2px 2px 7px 2px rgba(0, 0, 0, 0.1), 4px 4px 7px 2px rgba(0, 0, 0, 0.1);
}

.border-radius-6 {
    border-radius: 6px !important;
}

.rounded-table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 12px;
    overflow: hidden; /* 這個一定要配合，圓角才會切到內容 */
}

.shadow-radius-box td:first-child {
    border-radius: 6px !important;
}

.shadow-radius-box td:last-child {
    border-radius: 6px !important;
}

