APP_NAME=
APP_ENV=
APP_KEY=
APP_DEBUG=
APP_LOG_LEVEL=
APP_URL=

# Database Configuration
DB_CONNECTION=
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

# MailChimp Configuration
MC_KEY=

# Broadcasting & Cache
BROADCAST_DRIVER=
CACHE_DRIVER=
SESSION_DRIVER=
SESSION_LIFETIME=
QUEUE_DRIVER=

# SendGrid Mail Configuration
MAIL_DRIVER=
SENDGRID_API_KEY=
MAIL_ENCRYPTION=

# Redis Configuration
REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=

# Security Configuration
DOMAIN=
SESSION_SECURE_COOKIE=
SESSION_HTTP_ONLY=
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# netCOMPONENT DILP Stock Checking API
DILP_BASE_URL=
DILP_USERNAME=
DILP_PASSWORD=
DILP_MOCK=
DILP_DEBUG=
